.login {
    background-color: white;
    width: 45%;
    margin: auto;
    padding: 3% 0% 1% 0%;
    border-radius: 25px;
}

.input100 {
    font-family: Signika;
    font-size: 15px;
    line-height: 1.5;
    color: white;
  
    width: 20%;
    background: #DAAD86;
    height: 25px;
    border-radius: 25px;
    padding: 0 15px 0 9px;
    text-align: left;
    outline: none;
  }

.butt {
    max-width: 100%;
    background-color: #659DBD;
    border: none;
    color: white;
    width: 10%;
    height: 30px;
    padding: 0% 0%;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin: 1% 0.5%;
    cursor: pointer;
    border-radius: 25px;
    outline: none;
}

.butt:hover {
    background-color: #527f99;
}

::placeholder {
    color: white;
    opacity: 70%;
}

.sel {
    height: 35px;
    width: 23%;
    padding: auto;
    border-radius: 25px;
    border: none;
    padding: auto;
    outline: none;
    line-height: 1.5;
    font-family: Signika;
    color: #BC986A;
    font-size: 17px;
}