.mclass {
    background-color: white;
    width: 45%;
    margin: auto;
    padding: 3% 0% 1% 0%;
    border-radius: 25px;
}

.makebutt {
    max-width: 100%;
    background-color: #659DBD;
    border: none;
    color: white;
    width: 25%;
    height: 30px;
    padding: 0% 0%;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin: 1% 1.5%;
    cursor: pointer;
    border-radius: 25px;
    outline: none;
    font-family: 'Signika', sans-serif;
}

.makebutt:hover {
    background-color: #527f99;
}

.de {
    height: 35px;
    width: 70%;
    padding: auto;
    border-radius: 25px;
    border: none;
    padding: auto;
    outline: none;
    line-height: 1.5;
    font-family: 'Signika', sans-serif;
    color: #BC986A;
}

.input200 {
    font-family: Signika;
    font-size: 15px;
    line-height: 1.5;
    color: white;
  
    width: 40%;
    background: #DAAD86;
    height: 25px;
    border-radius: 25px;
    padding: 0 15px 0 9px;
    text-align: left;
    outline: none;
    font-family: 'Signika', sans-serif;
  }

  ::placeholder {
    color: white;
    opacity: 70%;
    font-family: 'Signika', sans-serif;
}